* {
    /* outline: 1px solid; */
}

.profile-container {
    display: flex;
    padding: 10px;
    height: 80vh;
    justify-content: space-evenly;
}


.profile-card {
    width: 120%;
}

.profile-card-1 {
    display: flex;
    gap: 8px;
    justify-content: space-between;

}

.receivers-filters-parent{
    background-color:  #eb90909a; 
    display: flex;  
    padding: 5px; 
    justify-content: space-between; 
    width: 690px; 
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.profile-card-1 div {

    width: 100%;
    padding: 10px;
    text-align: center;
}

.selected-tab {
    background-color: #d32f2f !important;
    transition: background-color 0.4s ease;
    color: white;
}

.profile-tabs {
    cursor: pointer;
    border-radius: 10px;
    background-color: #f7e6e6;
}

#receivers-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#donors-section{
    display: flex;
}

.section-tab {
    padding: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

.selected-section-tab {
    font-weight: 900;
    text-shadow: 1px 3px 8px rgba(255, 0, 0, 0.9);
}

.filters-section{
    height: 0px;
    /* padding: 5px; */
    transition: height 0.2s ease-in;
    overflow: hidden;
    background-color:  #eb90909a;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-direction: column;
    gap: 10px;
    width: 690px;
}

.default-caret {
    display: none !important;
}

.filters-section input[type=checkbox]{
    scale: 1.4;
    accent-color: #c41111;
}

.filters-section input[type=date]{
    width: 150px;
}

.filters-row-1 {
    
    display: flex;   
}

#receiver-name-search {
    width: 78%;
    padding: 5px;
}

.b_check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.filters-row-2 {
    
    display: flex;
}

.filters-row-3 {
    justify-content: center;
    gap: 100px;
    display: flex;
}

.filters-row-3 > div {
    cursor: pointer;
}

.filters-button:hover{
   text-shadow: 1px 2px 10px rgba(255,0,0,0.7) !important;
}


.filters-row-2 > div{
    width: 100%;
}

.data-section {
    padding: 10px;
    display: flex;
    width: 660px;
    /* border: 2px solid red; */
    overflow: hidden;
}

.carousel{
    /* border: 2px solid blue; */
    display: flex;
    transition: all 0.7s ease-in-out;
    gap: 20px;
}

.card {
    background: #e7dede70;
    box-shadow: 1px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 30px;
    cursor: pointer ;
    width: 600px;
    transition: 0.3s;
}

#approved-tag{
    position: relative;
    left: 500px;
    font-weight: 700;
    color: #2ecc71;
}

.approved-receiver {
    cursor:not-allowed;
    box-shadow: 4px 8px 8px rgba(143, 240, 78,0.8);
}


.approved-receiver:hover{
    box-shadow: 4px 8px 8px rgba(143, 240, 78,0.8) !important;
}


.card:hover {
    box-shadow: 2px 12px 7px rgba(0, 0, 0, 0.3);
}

.card h2 {
    font-size: 28px;
    color: #ff5733;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    line-height: 1.6;
    margin: 8px 0;
}

.highlight {
    font-weight: bold;
}

.status {
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
}

.status.pending {
    background: #e74c3c;
    /* Red for status 0 */
}

.status.completed {
    background: #2ecc71;
    /* Green for status 1 */
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.footer span {
    display: flex;
    align-items: center;
}

.spinner-parent-div {
    display: none;
}



.spinner {
    width: 18px;
    scale: 4;
    height: 18px;
    border-radius: 50% !important;
    border-style: dashed !important;
    border: 2px solid #c51313;
    border-top: 2px solid transparent;
    animation: spin 1s linear infinite;
    cursor: not-allowed;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#no-records-found-label {
    display: none;
}

.carousel-navigation {
    display: flex;
    /* border: 1px solid green; */
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    gap: 80%;
}

.carousel-navigation i {
    scale: 1.5;
}

.logout-button {
    cursor: pointer;
}

.blocked-thumb {
    background-color: #ccc !important;
}
.blocked-thumb:hover{
    box-shadow: none !important;
}

.card-thumbs {
    background-color: #d32f2f;
    color: white;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.card-numbering {
    border: 1px solid red;
    display: flex;
    padding: 5px;
    gap: 5px;
    width: 185px;
}

.card-numbering div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 50%;
    background-color: #f06556;
    color: white;
    height: 50px;
}

.card-thumbs:hover {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.8);
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    transition: display all 0.5s ease-in-out;
    /* display: flex; */

}

.update-status-dialog-box {
    margin: 0 auto;
    height: 240px;
    width: max-content;
    border-radius: 15px;
    display: none;
    gap: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 4px 10px rgba(255, 255, 255, 0.8);
    padding: 20px;
    background: white;
}

.status-update-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.status-update-buttons {
    display: flex;
    justify-content: space-around;
}

.status-update-buttons > div {
    padding: 10px 25px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.dialog-buttons:hover {
    box-shadow: 2px 4px 3px rgba(0,0,0,0.7);
}

.content{
    display: flex;
    border: 2px solid #a71717;
    padding: 12px;
    border-radius: 8px;
}

.column-1{
    width: 20%;
}

.column-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}

#rec_id{
    font-size: 48px;
    color: #c71d1d;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.column2-row {
    display: flex;
}

.spinner-parent-div {
    display: none;
}

.spinner {
    width: 18px;
    scale: 4;
    height: 18px;
    border-radius: 50% !important;
    border-style: dashed !important;
    border: 2px solid #c51313;
    border-top: 2px solid transparent;
    animation: spin 1s linear infinite;
    cursor: not-allowed;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**  receiver section finished here */

/**  donor section starts here */

#donors-section{
    display: none;
}

.donor-requests-navigation{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    width: 100%;
    border-bottom: 4px solid #c41111;
}

#donation-donor-request-tab{
    border-left: 3px solid #c41111;
}

.donor-requests-navigation div{
    padding: 5px 8px;
    transition: text-shadow 0.4s ease-out;
    cursor: pointer;
}

.selected-request-tab{
    color: #c71d1d;
    font-weight: 600;
    text-shadow: 1px 1px 10px rgba(255, 0, 0, 0.9);
}

#donors-section{
    flex-direction: column;
}

.donor-filters-section{
    background: #ee9494;
    padding: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.donor-filters {
    margin-top: 5px;
}

.donor-filters input[type=checkbox]{
    accent-color: #c71d1d;
    scale: 1.5;
}

.donor-card{
    box-shadow: 2px 1px 7px rgba(0,0,0,0.7);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins", serif;
    background: white;
    width: 200px;
    height: max-content;
    transition: transform 0.2s ease-in-out;
}

.emergency-card{
    background: #f80d0d0e;
}

.emergency-card:hover{
    box-shadow: 2px 1px 10px rgba(255,0,0,0.9) !important;
}

.donor-card:hover{
    transform: scale(0.9);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.9);
}

.donor-data-section {
    display: none;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    padding: 5px 5px; 
    margin-top: 5px;
    width: 910px;
    height: 65vh;
}

.donor-data-section::-webkit-scrollbar {

    width: 10px;
}

/* Track */
.donor-data-section::-webkit-scrollbar-track {
    background: #cc83838e;
    border-radius: 10px;
}

/* Handle */
.donor-data-section::-webkit-scrollbar-thumb {
    background: #c51e1e9a;
    border-radius: 10px;
}

/* Handle on hover */
.donor-data-section::-webkit-scrollbar-thumb:hover {
    background: #c51313;
}


.no-records-donor{
    justify-content: center; 
    align-items: center;
}

.donor-details-dialog-box{
    display: block;
    width: 380px;
    font-family: "Poppins", serif;
    box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    background-color: white;
}

.section-1{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 8px;
    background: #c93b3b;
}

.section-2{
    padding: 5px;
}

.section-3{
    padding: 5px;
}

.section-4{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#donor_emergency_label{
    background: #ff000069; 
    width: max-content; 
    color: white;
    padding: 5px 10px; 
    border-radius: 20px;
    font-size: 10px;
}

#not_available_label{
    background: #e4e3e3; 
    width: max-content; 
    padding: 5px; 
    font-size: 12px;
    border-radius: 20px;
}

#dialog_donor_name{
    font-size: 20px;
    font-weight: 600;
}

#dialog_donor_id{
    display: flex; 
    justify-content: center; 
    padding: 10px;
    border-radius: 50%;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.8);
    align-items: center; 
    font-weight: 600; 
    font-size: 32px;
    background: white;
}

.request_blood_btn{
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    width: 40%;
    text-align: center;
    background: #a71717;
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease-in;
}


.approve_donor_button{
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    width: 40%;
    text-align: center;
    background: #a71717;
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease-in;
}

.disabled_request{
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none !important;
}


.close_form_btn{
    font-size: 12px; 
    padding: 5px; 
    width: 40%; 
    background: #ccc; 
    text-align: center; 
    border-radius: 5px; 
    cursor: pointer;
}

.request_blood_btn:hover{
    box-shadow: 1px 2px 15px rgba(0,0,0,0.8);
}

.dialog_spinner{
    display: none;
    justify-content: center;
}


.dialog-box-input-item input {
    outline: none;
    border: none;
    background: white;
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.4);
    padding: 4px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

input[type="range"] {
    accent-color: red;
}

#donated_amount_text{
    width:50%; 
    text-align:center;
    font-weight:600;
}

#donation_request_weight_input{
    width: 30%;
}

.submit_donation_form_btn{
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    width: 40%;
    text-align: center;
    background: #a71717;
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease-in;
}

.submit_donation_form_btn:hover{
    box-shadow: 1px 2px 15px rgba(0,0,0,0.8);
}

.donation-submit-dialog-box{
    display: block;
    width: 380px;
    font-family: "Poppins", serif;
    box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    background-color: white;
}
