.admin-list{
    display: none;
}

#admin-blood-amount-input{
    font-size: 16px;
    
}

#admin-listbox-bg{
    font-size: 16px;
    width: 470px;
}

.admin-submit-donor-button {
    background-color: #FA7070;
    color: white;
    display: flex;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.6);;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    padding: 5px 10px;
    font-size: 20px;
}

.admin-reject-donor-button{
    background-color: #FA7070;
    color: white;
    display: flex;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.6);;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    padding: 5px 10px;
    font-size: 20px;
}

.admin-button-parent {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.admin-submit-donor-button:hover{
    scale: 1.1;
    transition: 0.2s ease-in;
}

.admin-reject-donor-button:hover{
    scale: 1.1;
    transition: 0.2s ease-in;
}

.login-container {
    display: flex;
    align-items: center;
    margin-top: 10%;
    justify-content: space-evenly;
}

.fa-eye, .fa-eye-slash {
    color: #da1c1c;
}

.login-form {
    background: rgb(252, 221, 221);
    font-family: "Poppins", serif;
    padding: 25px;
    font-size: 28px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px grey;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.admin-login-form{
    height: 250px;
}

.login-container {
    display: flex;
    align-items: center;
    margin-top: 10%;
    justify-content: space-evenly;
}

.login-item {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
}


.password-item {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.password-item > input {
    height: 100%;
}

input:focus {
    outline: none;
}

input {
    border: none;
}

.login-item input {
    width: 300px;
    box-sizing: border-box;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid;
}

.login-button {
    display: flex;
    justify-content: center;
}

.login-button div {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FF2929;
    opacity: 0.7;
    transition: 0.2s ease-in;
}

.spinner-parent-div {
    cursor:not-allowed !important;
    display: none !important; 
}


.login-lock-div:hover {
    box-shadow: 2px 2px 4px grey;

}

.spinner {
    width: 18px !important;
    height: 18px !important;
    border: 2px solid white !important;
    border-top: 2px solid transparent !important;
    border-radius: 50% !important;
    animation: spin 0.6s linear infinite;
    cursor: not-allowed !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
