* {
    /* border: 1px solid black; */
}

.profile-dialog-box {
    position: absolute;
    padding: 8px;
    right: 10px;
    display: none;
    top: 60px;
    border-radius: 10px;
    background: rgba(235, 90, 90, 0.3);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: space-around;
}


.profile-button {
    padding: 10px;
    cursor: pointer;
    right: 5px;
    color: white;
}

.logout-button {
    padding: 10px;
    cursor: pointer;
    right: 5px;
    color: white;
}

.profile-button i {
    scale: 1.5;
}

.logout-button i {
    scale: 1.5;
}

.profile-container {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 38px;
}

.profile-card {

    padding: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+.slider {
    background-color: #d32f2f;
}

input:checked+.slider:before {
    transform: translateX(24px);
}

.profile-card-2 {
    display: flex;
    padding: 10px;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profile-card-2-1 {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.profile-card-2-1 div {
    width: 100%;
}

.profile-card-2-2 {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.profile-card-2-2 div {
    width: 100%;
}

.profile-card-3 {
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
}

.profile-card-3-1 {
    height: 270px;
    display: flex;
    flex-direction: column;
    /**/
    gap: 10px;
    padding: 6px;
    overflow-y: auto;

    justify-content: space-around;
}

.profile-card-3-1::-webkit-scrollbar {

    width: 10px;
}

/* Track */
.profile-card-3-1::-webkit-scrollbar-track {
    background: #cc83838e;
    border-radius: 10px;
}

/* Handle */
.profile-card-3-1::-webkit-scrollbar-thumb {
    background: #c51e1e9a;
    border-radius: 10px;
}

/* Handle on hover */
.profile-card-3-1::-webkit-scrollbar-thumb:hover {
    background: #c51313;
}



#no-records-found-label {
    display: none;
}

.history-card {
    background: rgb(252, 221, 221);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-left: 6px solid #d32f2f;
}

.blood-icon {
    font-size: 50px;
    color: #d32f2f;
    margin-right: 15px;
}

.history-details {
    flex: 1;
}

.history-details h3 {
    color: #d32f2f;
    margin-bottom: 10px;
}

.info {
    font-size: 16px;
    margin: 5px 0;
    color: #333;
}

.info span {
    font-weight: bold;
    color: #d32f2f;
}


.donate-now-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.disabled-donate-now-button {
    background: #ccc !important;
    box-shadow: none !important;
}

.donate-now-button > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 140px;
    color: white;
    cursor: pointer;
    background-color: #d81616de;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    font-weight: 600;
}

.donate-now-box {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;

}

.update-status-dialog-box {
    margin: 0 auto;
    height: max-content;
    width: 320px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 4px 10px rgba(255, 255, 255, 0.8);
    padding: 20px;
    background: white;
}

.status-update-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.password-update-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.password-update-box input {
    padding: 8px;
}

.dialog-box-update-password-button {
    background-color: #c51313;
    padding: 8px 10px;
    color: white;
    border-radius: 8px;
    cursor: pointer;

}

.dialog-box-update-password-button:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}



.dialog-box-buttons {
    display: flex;
    justify-content: space-evenly;
}

.dialog-box-yes-button {
    background-color: #c51313;
    padding: 4px 15px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    /* box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.7); */
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

.dialog-box-no-button {
    background-color: #ccc;
    padding: 4px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 500;
}

.dialog-box-yes-button:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.7);
}

.dialog-box-no-button:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.7);
}

.spinner-parent-div {
    display: none;
}

.spinner {
    width: 18px;
    scale: 4;
    height: 18px;
    border-radius: 50% !important;
    border-style: dashed !important;
    border: 2px solid #c51313;
    border-top: 2px solid transparent;
    animation: spin 1s linear infinite;
    cursor: not-allowed;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}